<a href="https://colab.research.google.com/github/mugdha711/MLAP-Class/blob/master/pandas_intoduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#drive.mount('/content/gdrive', force_remount=False)


import pandas as pd

In [27]:
#upload the sheet in the folder in collab and then copy the address and you're good to go(file deleted as soon as recycle the connection)

df=pd.read_csv("/content/covid details csv.csv", sep=",")
#url="C:\Users\Mugdha\Desktop\covid details csv.csv"--didn't work
#df=pd.read_csv(r"C:\Users\Mugdha\Desktop\covid_details_csv.csv.csv", sep=",")-- didn't work
#same for excel df=pd.read_excel("...")

In [4]:
df.head() #head gives top five rows

           Date  Daily confirmed deaths (deaths)  Forecasted deaths  Error
0  Dec 31, 2019                              0.0                NaN    NaN
1   Jan 1, 2020                              0.0                0.0    0.0
2   Jan 2, 2020                              0.0                0.0    0.0
3   Jan 3, 2020                              0.0                0.0    0.0
4   Jan 4, 2020                              0.0                0.0    0.0

In [6]:
df.tail() #last five column

             Date  Daily confirmed deaths (deaths)  Forecasted deaths  Error
196  Jul 15, 2020                            582.0              553.0   29.0
197  Jul 16, 2020                            606.0              582.0   24.0
198  Jul 17, 2020                            687.0              606.0   81.0
199  Jul 18, 2020                            671.0              687.0  -16.0
200           NaN                              NaN              671.0    NaN

In [8]:
df.head(6) #give 6 top rows

           Date  Daily confirmed deaths (deaths)  Forecasted deaths  Error
0  Dec 31, 2019                              0.0                NaN    NaN
1   Jan 1, 2020                              0.0                0.0    0.0
2   Jan 2, 2020                              0.0                0.0    0.0
3   Jan 3, 2020                              0.0                0.0    0.0
4   Jan 4, 2020                              0.0                0.0    0.0
5   Jan 5, 2020                              0.0                0.0    0.0

data frame - start with 0

In [14]:
#get the total cells in sheet-rows x columns
df.shape

(201, 4)

In [12]:
df.columns

Index(['Date', 'Daily confirmed deaths (deaths)', 'Forecasted deaths',
       'Error'],
      dtype='object')

In [13]:
df.shape #return tuple as (row,column)

(201, 4)

In [17]:
df[["Date","Forecasted deaths"]] #column details

             Date  Forecasted deaths
0    Dec 31, 2019                NaN
1     Jan 1, 2020                0.0
2     Jan 2, 2020                0.0
3     Jan 3, 2020                0.0
4     Jan 4, 2020                0.0
..            ...                ...
196  Jul 15, 2020              553.0
197  Jul 16, 2020              582.0
198  Jul 17, 2020              606.0
199  Jul 18, 2020              687.0
200           NaN              671.0

[201 rows x 2 columns]