<a href="https://colab.research.google.com/github/mugdha711/MLAP-Class/blob/master/pandas_intoduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Important link for pandas in collab- https://colab.research.google.com/notebooks/mlcc/intro_to_pandas.ipynb#scrollTo=av6RYOraVG1V


For drive import and file handling- https://colab.research.google.com/notebooks/io.ipynb#scrollTo=D78AM1fFt2ty

In [2]:


#drive.mount('/content/gdrive', force_remount=False)


import pandas as pd

In [3]:
#upload the sheet in the left side below sample data folder in collab and then copy the address and you're good to go(file deleted as soon as recycle the connection)

df=pd.read_csv("/content/covid details csv.csv", sep=",")
#url="C:\Users\Mugdha\Desktop\covid details csv.csv"--didn't work
#df=pd.read_csv(r"C:\Users\Mugdha\Desktop\covid_details_csv.csv.csv", sep=",")-- didn't work
#same for excel df=pd.read_excel("...")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df.head() #head gives top five rows

           Date  Daily confirmed deaths (deaths)  Forecasted deaths  Error
0  Dec 31, 2019                              0.0                NaN    NaN
1   Jan 1, 2020                              0.0                0.0    0.0
2   Jan 2, 2020                              0.0                0.0    0.0
3   Jan 3, 2020                              0.0                0.0    0.0
4   Jan 4, 2020                              0.0                0.0    0.0

In [ ]:
df.tail() #last five column

             Date  Daily confirmed deaths (deaths)  Forecasted deaths  Error
196  Jul 15, 2020                            582.0              553.0   29.0
197  Jul 16, 2020                            606.0              582.0   24.0
198  Jul 17, 2020                            687.0              606.0   81.0
199  Jul 18, 2020                            671.0              687.0  -16.0
200           NaN                              NaN              671.0    NaN

In [ ]:
df.head(6) #give 6 top rows

           Date  Daily confirmed deaths (deaths)  Forecasted deaths  Error
0  Dec 31, 2019                              0.0                NaN    NaN
1   Jan 1, 2020                              0.0                0.0    0.0
2   Jan 2, 2020                              0.0                0.0    0.0
3   Jan 3, 2020                              0.0                0.0    0.0
4   Jan 4, 2020                              0.0                0.0    0.0
5   Jan 5, 2020                              0.0                0.0    0.0

data frame - start with 0

In [ ]:
#get the total cells in sheet-rows x columns
df.shape

(201, 4)

In [ ]:
df.columns

Index(['Date', 'Daily confirmed deaths (deaths)', 'Forecasted deaths',
       'Error'],
      dtype='object')

In [ ]:
df.shape #return tuple as (row,column)

(201, 4)

In [ ]:
df[["Date","Forecasted deaths"]] #column details

             Date  Forecasted deaths
0    Dec 31, 2019                NaN
1     Jan 1, 2020                0.0
2     Jan 2, 2020                0.0
3     Jan 3, 2020                0.0
4     Jan 4, 2020                0.0
..            ...                ...
196  Jul 15, 2020              553.0
197  Jul 16, 2020              582.0
198  Jul 17, 2020              606.0
199  Jul 18, 2020              687.0
200           NaN              671.0

[201 rows x 2 columns]

In [4]:
#selct specific rows
df.iloc[:6] #select 0 to 5 rows

           Date  Daily confirmed deaths (deaths)  Forecasted deaths  Error
0  Dec 31, 2019                              0.0                NaN    NaN
1   Jan 1, 2020                              0.0                0.0    0.0
2   Jan 2, 2020                              0.0                0.0    0.0
3   Jan 3, 2020                              0.0                0.0    0.0
4   Jan 4, 2020                              0.0                0.0    0.0
5   Jan 5, 2020                              0.0                0.0    0.0

In [5]:
df.iloc[3:8] #df.iloc[n:m] gives rows of n to m-1

          Date  Daily confirmed deaths (deaths)  Forecasted deaths  Error
3  Jan 3, 2020                              0.0                0.0    0.0
4  Jan 4, 2020                              0.0                0.0    0.0
5  Jan 5, 2020                              0.0                0.0    0.0
6  Jan 6, 2020                              0.0                0.0    0.0
7  Jan 7, 2020                              0.0                0.0    0.0

In [6]:
#slect specific column
df.iloc[:,1:2] #iloc[rows,columns]

     Daily confirmed deaths (deaths)
0                                0.0
1                                0.0
2                                0.0
3                                0.0
4                                0.0
..                               ...
196                            582.0
197                            606.0
198                            687.0
199                            671.0
200                              NaN

[201 rows x 1 columns]

In [8]:
#check condition on column and get only specific rows
#gives subset according to the condition
df[df['Daily confirmed deaths (deaths)']>600]

             Date  Daily confirmed deaths (deaths)  Forecasted deaths   Error
168  Jun 17, 2020                           2003.0              380.0  1623.0
186   Jul 5, 2020                            613.0              442.0   171.0
197  Jul 16, 2020                            606.0              582.0    24.0
198  Jul 17, 2020                            687.0              606.0    81.0
199  Jul 18, 2020                            671.0              687.0   -16.0

In [10]:
#practice

df1=pd.read_csv("/content/index.csv")

In [12]:
#third column display
df1.iloc[:,3:4]

      D
0     0
1     0
2     0
3    60
4    60
..   ..
252  60
253   0
254  50
255   0
256   0

[257 rows x 1 columns]

In [17]:
df1.iloc[:,-3:] #last 2 columns

        J  K  L
0       0  0  3
1       0  0  3
2     762  0  3
3       0  0  3
4     269  0  3
..    ... .. ..
252     0  0  3
253  4880  0  3
254     0  0  3
255     0  0  3
256   762  0  3

[257 rows x 3 columns]

In [19]:
df1.iloc[-10:,:2] #last 10 rows and 1st 2 columns

     A  B
247  C  R
248  C  A
249  C  A
250  C  R
251  C  A
252  C  A
253  C  R
254  C  A
255  C  K
256  C  R